<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love You!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>I LOVE YOU FOR LIFE MWAAH!</h1>
    <img src="https://i.ibb.co/Xrj7MV0Z/Bugcat-Capoo-Sticker-Bugcat-Capoo-Hug-Discover-Share-GIFs.gif" alt="Love GIF">
    
    <footer>
        <p>Made by Ishigami (Yassin Amiri)</p>
    </footer>
</body>
</html>
